<form ng-submit="vm.add(vm.newMatchups)" name="addMatchups">
    <div class="col-md-12">
        <h2>Add Matchups for Week #{{vm.nextWeekNbr}}</h2>
    </div>
    <div ng-repeat="matchup in vm.newMatchups" class="row">
        <div class="col-md-4">
            <p>
                <select ng-model="matchup.player1Id" required>
                    <option value=""></option>
                    <option ng-repeat="person in vm.data.players" value="{{person.id}}">{{person.name}}</option>
                </select>
            </p>
        </div>
        <div class="col-md-4">
            <p>vs</p>
        </div>
        <div class="col-md-4">
            <p>
                <select ng-model="matchup.player2Id" required>
                    <option value=""></option>
                    <option ng-repeat="person in vm.data.players" value="{{person.id}}">{{person.name}}</option>
                </select>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p></p>
            <button type="submit" class="btn btn-primary" ng-disabled="!addMatchups.$valid">Submit</button>
        </div>
    </div>
</form>
<form ng-submit="vm.delete()" name="deleteMatchups"><div class="row">
    <div class="col-md-12">
        <p></p>
        <button type="submit" class="btn btn-primary">Delete</button>
    </div>
</div>
</form>
