

<form action="/Matchups" method="post">
    <div class="col-md-12">
        <h2>Add Matchups for Week #{{vm.data.nextWeek}} <input data-val="true" data-val-number="The field WeekNbr must be a number." data-val-required="The WeekNbr field is required." id="WeekNbr" name="WeekNbr" type="hidden" value="3" /></h2>
    </div>
    <div ng-repeat="matchup in vm.newMatchups" class="row">
        <div class="col-md-4">
            <p>
                <select data-val="true" data-val-required="The Guid field is required.">
                    <option value=""></option>
                    <option ng-repeat="person in vm.data.players" value="{{person.id}}">{{person.name}}</option>
                </select>
            </p>
        </div>
        <div class="col-md-4">
            <p>vs</p>
        </div>
        <div class="col-md-4">
            <p>
                <select data-val="true" data-val-required="The Guid field is required.">
                    <option value=""></option>
                    <option ng-repeat="person in vm.data.players" value="{{person.id}}">{{person.name}}</option>
                </select>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p></p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>


    <form action="/Matchups" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="kqiFNIr-JxLOt5FQbnrmUUFRAjqIUjY2xslotk0Ti0jdGFekTWXS5fuJaDNM6Tl8gVuM6RbOs51xP3eWvtBoYRVuPOIudbZM4dd6Oaagd6k1" />    <div class="row">
            <div class="col-md-12">
                <h2>Add Matchups for Week #3 <input data-val="true" data-val-number="The field WeekNbr must be a number." data-val-required="The WeekNbr field is required." id="WeekNbr" name="WeekNbr" type="hidden" value="3" /></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>
                    <select data-val="true" data-val-required="The Guid field is required." id="Player1Id_0_" name="Player1Id[0]">
                        <option value=""></option>
                        <option value="bcbc7bcd-6b9e-451f-9095-19528512a031">Mike</option>
                        <option value="7e688019-4263-48a1-b356-201a67a5e058">Todd</option>
                        <option value="b5b997dd-d155-4ae0-bd6f-2c1f6563bf49">Len</option>
                        <option value="a3f16a60-f7c8-46a5-90d1-3afac21884bf">Tom S</option>
                        <option value="82602763-7938-44fa-94a2-412063b41f4c">Kevin</option>
                        <option value="951d8360-a027-449f-93a1-5d73cdd35f61">Keith</option>
                        <option value="38fce8d4-87ef-4334-a365-7249000bc597">David</option>
                        <option value="a2cb6227-7479-49dd-81fb-80b0b04ef411">Brandon</option>
                        <option value="c51898b4-a550-4df5-962b-c583c2b6ba85">Mark</option>
                        <option value="4abb9ed2-dc34-4d1c-ab09-e485d0ea68fa">Bill</option>
                        <option value="59b66796-8954-4d43-b0de-e7174c7df407">Emil</option>
                        <option value="0e041962-43ec-4250-968a-ea972972d059">Jack</option>
                    </select>
                </p>
            </div>
            <div class="col-md-4">
                <p>vs</p>
            </div>
            <div class="col-md-4">
                <p><p>
                    <select data-val="true" data-val-required="The Guid field is required." id="Player2Id_0_" name="Player2Id[0]">
                        <option value=""></option>
                        <option value="bcbc7bcd-6b9e-451f-9095-19528512a031">Mike</option>
                        <option value="7e688019-4263-48a1-b356-201a67a5e058">Todd</option>
                        <option value="b5b997dd-d155-4ae0-bd6f-2c1f6563bf49">Len</option>
                        <option value="a3f16a60-f7c8-46a5-90d1-3afac21884bf">Tom S</option>
                        <option value="82602763-7938-44fa-94a2-412063b41f4c">Kevin</option>
                        <option value="951d8360-a027-449f-93a1-5d73cdd35f61">Keith</option>
                        <option value="38fce8d4-87ef-4334-a365-7249000bc597">David</option>
                        <option value="a2cb6227-7479-49dd-81fb-80b0b04ef411">Brandon</option>
                        <option value="c51898b4-a550-4df5-962b-c583c2b6ba85">Mark</option>
                        <option value="4abb9ed2-dc34-4d1c-ab09-e485d0ea68fa">Bill</option>
                        <option value="59b66796-8954-4d43-b0de-e7174c7df407">Emil</option>
                        <option value="0e041962-43ec-4250-968a-ea972972d059">Jack</option>
                    </select>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>
                    <select data-val="true" data-val-required="The Guid field is required." id="Player1Id_1_" name="Player1Id[1]">
                        <option value=""></option>
                        <option value="bcbc7bcd-6b9e-451f-9095-19528512a031">Mike</option>
                        <option value="7e688019-4263-48a1-b356-201a67a5e058">Todd</option>
                        <option value="b5b997dd-d155-4ae0-bd6f-2c1f6563bf49">Len</option>
                        <option value="a3f16a60-f7c8-46a5-90d1-3afac21884bf">Tom S</option>
                        <option value="82602763-7938-44fa-94a2-412063b41f4c">Kevin</option>
                        <option value="951d8360-a027-449f-93a1-5d73cdd35f61">Keith</option>
                        <option value="38fce8d4-87ef-4334-a365-7249000bc597">David</option>
                        <option value="a2cb6227-7479-49dd-81fb-80b0b04ef411">Brandon</option>
                        <option value="c51898b4-a550-4df5-962b-c583c2b6ba85">Mark</option>
                        <option value="4abb9ed2-dc34-4d1c-ab09-e485d0ea68fa">Bill</option>
                        <option value="59b66796-8954-4d43-b0de-e7174c7df407">Emil</option>
                        <option value="0e041962-43ec-4250-968a-ea972972d059">Jack</option>
                    </select>
                </p>
            </div>
            <div class="col-md-4">
                <p>vs</p>
            </div>
            <div class="col-md-4">
                <p><p>
                    <select data-val="true" data-val-required="The Guid field is required." id="Player2Id_1_" name="Player2Id[1]">
                        <option value=""></option>
                        <option value="bcbc7bcd-6b9e-451f-9095-19528512a031">Mike</option>
                        <option value="7e688019-4263-48a1-b356-201a67a5e058">Todd</option>
                        <option value="b5b997dd-d155-4ae0-bd6f-2c1f6563bf49">Len</option>
                        <option value="a3f16a60-f7c8-46a5-90d1-3afac21884bf">Tom S</option>
                        <option value="82602763-7938-44fa-94a2-412063b41f4c">Kevin</option>
                        <option value="951d8360-a027-449f-93a1-5d73cdd35f61">Keith</option>
                        <option value="38fce8d4-87ef-4334-a365-7249000bc597">David</option>
                        <option value="a2cb6227-7479-49dd-81fb-80b0b04ef411">Brandon</option>
                        <option value="c51898b4-a550-4df5-962b-c583c2b6ba85">Mark</option>
                        <option value="4abb9ed2-dc34-4d1c-ab09-e485d0ea68fa">Bill</option>
                        <option value="59b66796-8954-4d43-b0de-e7174c7df407">Emil</option>
                        <option value="0e041962-43ec-4250-968a-ea972972d059">Jack</option>
                    </select>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>
                    <select data-val="true" data-val-required="The Guid field is required." id="Player1Id_2_" name="Player1Id[2]">
                        <option value=""></option>
                        <option value="bcbc7bcd-6b9e-451f-9095-19528512a031">Mike</option>
                        <option value="7e688019-4263-48a1-b356-201a67a5e058">Todd</option>
                        <option value="b5b997dd-d155-4ae0-bd6f-2c1f6563bf49">Len</option>
                        <option value="a3f16a60-f7c8-46a5-90d1-3afac21884bf">Tom S</option>
                        <option value="82602763-7938-44fa-94a2-412063b41f4c">Kevin</option>
                        <option value="951d8360-a027-449f-93a1-5d73cdd35f61">Keith</option>
                        <option value="38fce8d4-87ef-4334-a365-7249000bc597">David</option>
                        <option value="a2cb6227-7479-49dd-81fb-80b0b04ef411">Brandon</option>
                        <option value="c51898b4-a550-4df5-962b-c583c2b6ba85">Mark</option>
                        <option value="4abb9ed2-dc34-4d1c-ab09-e485d0ea68fa">Bill</option>
                        <option value="59b66796-8954-4d43-b0de-e7174c7df407">Emil</option>
                        <option value="0e041962-43ec-4250-968a-ea972972d059">Jack</option>
                    </select>
                </p>
            </div>
            <div class="col-md-4">
                <p>vs</p>
            </div>
            <div class="col-md-4">
                <p><p>
                    <select data-val="true" data-val-required="The Guid field is required." id="Player2Id_2_" name="Player2Id[2]">
                        <option value=""></option>
                        <option value="bcbc7bcd-6b9e-451f-9095-19528512a031">Mike</option>
                        <option value="7e688019-4263-48a1-b356-201a67a5e058">Todd</option>
                        <option value="b5b997dd-d155-4ae0-bd6f-2c1f6563bf49">Len</option>
                        <option value="a3f16a60-f7c8-46a5-90d1-3afac21884bf">Tom S</option>
                        <option value="82602763-7938-44fa-94a2-412063b41f4c">Kevin</option>
                        <option value="951d8360-a027-449f-93a1-5d73cdd35f61">Keith</option>
                        <option value="38fce8d4-87ef-4334-a365-7249000bc597">David</option>
                        <option value="a2cb6227-7479-49dd-81fb-80b0b04ef411">Brandon</option>
                        <option value="c51898b4-a550-4df5-962b-c583c2b6ba85">Mark</option>
                        <option value="4abb9ed2-dc34-4d1c-ab09-e485d0ea68fa">Bill</option>
                        <option value="59b66796-8954-4d43-b0de-e7174c7df407">Emil</option>
                        <option value="0e041962-43ec-4250-968a-ea972972d059">Jack</option>
                    </select>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>
                    <select data-val="true" data-val-required="The Guid field is required." id="Player1Id_3_" name="Player1Id[3]">
                        <option value=""></option>
                        <option value="bcbc7bcd-6b9e-451f-9095-19528512a031">Mike</option>
                        <option value="7e688019-4263-48a1-b356-201a67a5e058">Todd</option>
                        <option value="b5b997dd-d155-4ae0-bd6f-2c1f6563bf49">Len</option>
                        <option value="a3f16a60-f7c8-46a5-90d1-3afac21884bf">Tom S</option>
                        <option value="82602763-7938-44fa-94a2-412063b41f4c">Kevin</option>
                        <option value="951d8360-a027-449f-93a1-5d73cdd35f61">Keith</option>
                        <option value="38fce8d4-87ef-4334-a365-7249000bc597">David</option>
                        <option value="a2cb6227-7479-49dd-81fb-80b0b04ef411">Brandon</option>
                        <option value="c51898b4-a550-4df5-962b-c583c2b6ba85">Mark</option>
                        <option value="4abb9ed2-dc34-4d1c-ab09-e485d0ea68fa">Bill</option>
                        <option value="59b66796-8954-4d43-b0de-e7174c7df407">Emil</option>
                        <option value="0e041962-43ec-4250-968a-ea972972d059">Jack</option>
                    </select>
                </p>
            </div>
            <div class="col-md-4">
                <p>vs</p>
            </div>
            <div class="col-md-4">
                <p><p>
                    <select data-val="true" data-val-required="The Guid field is required." id="Player2Id_3_" name="Player2Id[3]">
                        <option value=""></option>
                        <option value="bcbc7bcd-6b9e-451f-9095-19528512a031">Mike</option>
                        <option value="7e688019-4263-48a1-b356-201a67a5e058">Todd</option>
                        <option value="b5b997dd-d155-4ae0-bd6f-2c1f6563bf49">Len</option>
                        <option value="a3f16a60-f7c8-46a5-90d1-3afac21884bf">Tom S</option>
                        <option value="82602763-7938-44fa-94a2-412063b41f4c">Kevin</option>
                        <option value="951d8360-a027-449f-93a1-5d73cdd35f61">Keith</option>
                        <option value="38fce8d4-87ef-4334-a365-7249000bc597">David</option>
                        <option value="a2cb6227-7479-49dd-81fb-80b0b04ef411">Brandon</option>
                        <option value="c51898b4-a550-4df5-962b-c583c2b6ba85">Mark</option>
                        <option value="4abb9ed2-dc34-4d1c-ab09-e485d0ea68fa">Bill</option>
                        <option value="59b66796-8954-4d43-b0de-e7174c7df407">Emil</option>
                        <option value="0e041962-43ec-4250-968a-ea972972d059">Jack</option>
                    </select>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>
                    <select data-val="true" data-val-required="The Guid field is required." id="Player1Id_4_" name="Player1Id[4]">
                        <option value=""></option>
                        <option value="bcbc7bcd-6b9e-451f-9095-19528512a031">Mike</option>
                        <option value="7e688019-4263-48a1-b356-201a67a5e058">Todd</option>
                        <option value="b5b997dd-d155-4ae0-bd6f-2c1f6563bf49">Len</option>
                        <option value="a3f16a60-f7c8-46a5-90d1-3afac21884bf">Tom S</option>
                        <option value="82602763-7938-44fa-94a2-412063b41f4c">Kevin</option>
                        <option value="951d8360-a027-449f-93a1-5d73cdd35f61">Keith</option>
                        <option value="38fce8d4-87ef-4334-a365-7249000bc597">David</option>
                        <option value="a2cb6227-7479-49dd-81fb-80b0b04ef411">Brandon</option>
                        <option value="c51898b4-a550-4df5-962b-c583c2b6ba85">Mark</option>
                        <option value="4abb9ed2-dc34-4d1c-ab09-e485d0ea68fa">Bill</option>
                        <option value="59b66796-8954-4d43-b0de-e7174c7df407">Emil</option>
                        <option value="0e041962-43ec-4250-968a-ea972972d059">Jack</option>
                    </select>
                </p>
            </div>
            <div class="col-md-4">
                <p>vs</p>
            </div>
            <div class="col-md-4">
                <p><p>
                    <select data-val="true" data-val-required="The Guid field is required." id="Player2Id_4_" name="Player2Id[4]">
                        <option value=""></option>
                        <option value="bcbc7bcd-6b9e-451f-9095-19528512a031">Mike</option>
                        <option value="7e688019-4263-48a1-b356-201a67a5e058">Todd</option>
                        <option value="b5b997dd-d155-4ae0-bd6f-2c1f6563bf49">Len</option>
                        <option value="a3f16a60-f7c8-46a5-90d1-3afac21884bf">Tom S</option>
                        <option value="82602763-7938-44fa-94a2-412063b41f4c">Kevin</option>
                        <option value="951d8360-a027-449f-93a1-5d73cdd35f61">Keith</option>
                        <option value="38fce8d4-87ef-4334-a365-7249000bc597">David</option>
                        <option value="a2cb6227-7479-49dd-81fb-80b0b04ef411">Brandon</option>
                        <option value="c51898b4-a550-4df5-962b-c583c2b6ba85">Mark</option>
                        <option value="4abb9ed2-dc34-4d1c-ab09-e485d0ea68fa">Bill</option>
                        <option value="59b66796-8954-4d43-b0de-e7174c7df407">Emil</option>
                        <option value="0e041962-43ec-4250-968a-ea972972d059">Jack</option>
                    </select>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>
                    <select data-val="true" data-val-required="The Guid field is required." id="Player1Id_5_" name="Player1Id[5]">
                        <option value=""></option>
                        <option value="bcbc7bcd-6b9e-451f-9095-19528512a031">Mike</option>
                        <option value="7e688019-4263-48a1-b356-201a67a5e058">Todd</option>
                        <option value="b5b997dd-d155-4ae0-bd6f-2c1f6563bf49">Len</option>
                        <option value="a3f16a60-f7c8-46a5-90d1-3afac21884bf">Tom S</option>
                        <option value="82602763-7938-44fa-94a2-412063b41f4c">Kevin</option>
                        <option value="951d8360-a027-449f-93a1-5d73cdd35f61">Keith</option>
                        <option value="38fce8d4-87ef-4334-a365-7249000bc597">David</option>
                        <option value="a2cb6227-7479-49dd-81fb-80b0b04ef411">Brandon</option>
                        <option value="c51898b4-a550-4df5-962b-c583c2b6ba85">Mark</option>
                        <option value="4abb9ed2-dc34-4d1c-ab09-e485d0ea68fa">Bill</option>
                        <option value="59b66796-8954-4d43-b0de-e7174c7df407">Emil</option>
                        <option value="0e041962-43ec-4250-968a-ea972972d059">Jack</option>
                    </select>
                </p>
            </div>
            <div class="col-md-4">
                <p>vs</p>
            </div>
            <div class="col-md-4">
                <p><p>
                    <select data-val="true" data-val-required="The Guid field is required." id="Player2Id_5_" name="Player2Id[5]">
                        <option value=""></option>
                        <option value="bcbc7bcd-6b9e-451f-9095-19528512a031">Mike</option>
                        <option value="7e688019-4263-48a1-b356-201a67a5e058">Todd</option>
                        <option value="b5b997dd-d155-4ae0-bd6f-2c1f6563bf49">Len</option>
                        <option value="a3f16a60-f7c8-46a5-90d1-3afac21884bf">Tom S</option>
                        <option value="82602763-7938-44fa-94a2-412063b41f4c">Kevin</option>
                        <option value="951d8360-a027-449f-93a1-5d73cdd35f61">Keith</option>
                        <option value="38fce8d4-87ef-4334-a365-7249000bc597">David</option>
                        <option value="a2cb6227-7479-49dd-81fb-80b0b04ef411">Brandon</option>
                        <option value="c51898b4-a550-4df5-962b-c583c2b6ba85">Mark</option>
                        <option value="4abb9ed2-dc34-4d1c-ab09-e485d0ea68fa">Bill</option>
                        <option value="59b66796-8954-4d43-b0de-e7174c7df407">Emil</option>
                        <option value="0e041962-43ec-4250-968a-ea972972d059">Jack</option>
                    </select>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p></p>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
