<div class="jumbotron">
    <div class="row siteHead">
        <div class="col-md-3"><img src="/Content/Buckeye.gif" class="siteImg" /></div>
        <div class="col-md-9 siteTitle"><h1>Buckeye Golf League</h1></div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Leaderboard</h2>
        <p>The leaderboard shows the position of each player based on total points for the season.</p>
        <p><a class="btn btn-default" ui-sref="leaderboard">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Matchups</h2>
        <p>This view will show the weekly versus matchups and handicap for the matchup.</p>
        <p><a class="btn btn-default" ui-sref="matchups">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Results</h2>
        <p>This view shows the weekly results for each player including score and points earned.</p>
        <p><a class="btn btn-default" ui-sref="results">Learn more &raquo;</a></p>
    </div>
</div>

