<div class="row">
    <div class="col-md-12">
        <h3>Leaderboard through <b>{{vm.data.weeksPlayed}}</b> week(s) of play:</h3>
        <p>&nbsp;</p>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Player</th>
            <th>
                <a ng-click="vm.sortClick('totalPoints')">
                    Total Points
                    <span ng-show="vm.sortBy == 'totalPoints' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span ng-show="vm.sortBy == 'totalPoints' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th>
            <th>
                <a ng-click="vm.sortClick('scoreAvg')">
                    Season Avg Score
                    <span ng-show="vm.sortBy == 'scoreAvg' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span ng-show="vm.sortBy == 'scoreAvg' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th>
            <th>
                <a ng-click="vm.sortClick('currentHandicap')">
                    Current Handicap
                    <span ng-show="vm.sortBy == 'currentHandicap' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span ng-show="vm.sortBy == 'currentHandicap' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th>
            <th>
                <a ng-click="vm.sortClick('birds')">
                    Total Birds
                    <span ng-show="vm.sortBy == 'birds' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span ng-show="vm.sortBy == 'birds' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th>
            <th>
                <a ng-click="vm.sortClick('pars')">
                    Total Pars
                    <span ng-show="vm.sortBy == 'pars' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span ng-show="vm.sortBy == 'pars' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th>
            <th>
                <a ng-click="vm.sortClick('bogeys')">
                    Total Bogeys
                    <span ng-show="vm.sortBy == 'bogeys' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span ng-show="vm.sortBy == 'bogeys' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th>
        </tr>
    </thead>
    <tr ng-repeat="player in vm.data.playerSummary | orderBy:vm.sortBy:vm.sortReverse">
        <td>{{player.name}}</td>
        <td>{{player.totalPoints}}</td>
        <td>{{player.scoreAvg}}</td>
        <td>{{player.currentHandicap}}</td>
        <td>{{player.birds}}</td>
        <td>{{player.pars}}</td>
        <td>{{player.bogeys}}</td>
    </tr>
</table>

