<div class="row">
    <div class="col-md-12">
        <h4>League Info</h4>
        <p> </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#payouts">Payouts</a>
                    </h4>
                </div>
                <div id="payouts" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>Finishing Place</th>
                                    <th>Payout Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>$120</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>$100</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>$80</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>$70</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>$65</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>$60</td>
                                <tr>
                                    <td>7</td>
                                    <td>$55</td>
                                <tr>
                                    <td>8</td>
                                    <td>$50</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>$45</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>$40</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>$30</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>$25</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>$20</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>$15</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>$15</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>$10</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#attendance">Attendance</a>
                    </h4>
                </div>
                <div id="attendance" class="panel-collapse collapse">
                    <div class="panel-body">
                        If you are unable to make it during our normal league play, you can either pre-golf up to one week in advance or before the
                        next week's normal league play.  Note that the attendance points are different if you make-up your round.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#matchups">Matchups</a>
                    </h4>
                </div>
                <div id="matchups" class="panel-collapse collapse">
                    <div class="panel-body">
                        Each player will play all other league players once and only once.  The matchups for each week have been randomly selected with
                        consideration for playing each player only once.  If a player is absent that week and does not make it up during the week, 
                        there is no makeup for the matchup. 
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#scoring">Scoring</a>
                    </h4>
                </div>
                <div id="scoring" class="panel-collapse collapse">
                    <div class="panel-body">
                        TBD
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>