<br />
<div class="row">
    <div class="col-md-12">
        <h4>League Info, Scoring, &amp; Rules</h4>
        <p> </p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <p><b>Attendance</b></p><br/>
        <p>If you are unable to make it during our normal league play, you can either pre-golf up to one week in advance or before the
                        next week's normal league play.  Note that the attendance points are different if you make-up your round.</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Attendance</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Attended Weekly League Round</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Played Makeup Round</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Did Not Play Round</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <p><b>Matchups</b></p><br />
        <p>
            Each player will play all other league players once and only once.  The matchups for each week have been randomly selected with
            consideration for playing each player only once.  If a player is absent that week and does not make it up during the week,
            there is no makeup for the matchup. 
        </p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <p><b>Scoring</b></p><br />
        <p>
            Coming soon.
        </p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <p><b>League Payouts</b></p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Finishing Place</th>
                    <th>Payout Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>$120</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>$80</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>$70</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>$65</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>$60</td>
                <tr>
                    <td>7</td>
                    <td>$55</td>
                <tr>
                    <td>8</td>
                    <td>$50</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>$45</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>$40</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>$30</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>$25</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>$20</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>$15</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>$15</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>$10</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
