

@foreach (var week in ViewBag.WeeklyMatchups)
{
    <div class="row">
        <div class="col-md-12">
            <h2>Matchups for Week #@week.WeekNbr</h2>
        </div>
    </div>
    <table class="table table-striped">
        @foreach (var match in week.Matchups)
        {

            <tr>
                <td>@match.Player1Name (@match.Player1Handicap)</td>
                <td>vs</td>
                <td>@match.Player2Name (@match.Player2Handicap)</td>
            </tr>
        }
    </table>
}

