
@import 'CustomSpinner';

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.siteHead {
    align-content: center;
    width: 100%;
    display: flexbox;
}
.siteImg{
    vertical-align: middle;
    width: 142px;
    height:117px;
}
.siteTitle{
    vertical-align: middle;
    height: 100%;
}

.strippingRows:nth-of-type(odd){
    background: #e0e0e0;
}

.scoreInput{
    width: 2.5em;
}

.playerList{
    margin-top: 25px;
}

.hidden { 
    display: none;
}

th > a {
    color: black;
}

.playerTable th{
    text-align: center;
}

.playerTable td{
    text-align: center;
}

.playerStatItem {
    margin: 0 0 0 20px;
    border: 1px solid #adadad;
    width: 70px;
    height: 65px;
    text-align: center;
    font-weight: bold;
}

.playerStatCellHead {
    font-size: 0.9em;
    vertical-align: middle;
    border: 1px solid #dbdcdc;
    background-color: rgb(236, 237, 237);
    margin: 0;
    padding: 0;
}

.playerStatCellBody {
    font-size: 1.3em;
    vertical-align: middle;
    align-content:center;
    text-align:center;
    border-top: 1px solid #adadad;
    margin: 0;
    padding: 0;
    padding-top: 8px;
}


.playerStatRow {
    margin-top: 30px;
    margin-bottom: 50px;
}

.playerStatCell {
    float: right;
}

.playerStatTable {
    width: 100%;
}

#chartDiv {
    margin-bottom: 55px;
}

@media only screen and (max-width: 488px) {
    .playerStatItem {
        display: none;
    }
    .playerStatRow {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}