<div class="row">
    <div class="col-md-12">
        <h4>Leaderboard through <b>{{leaderboard.weeksPlayed}}</b> week(s) of play...</h4>
        <p> </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Season Second Half:</h3>
    </div>
</div>



<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Player</th>
                <th>
                    <a (click)="sortClickPoints('totalPoints')">
                        Total Points
                        <span *ngIf="sortBy == 'totalPoints' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span *ngIf="sortBy == 'totalPoints' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </a>
                </th>
                <th>
                    <a (click)="sortClickScore('scoreAvg')">
                        Season Avg Score
                        <span *ngIf="sortBy == 'scoreAvg' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span *ngIf="sortBy == 'scoreAvg' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </a>
                </th>
                <th>
                    <a (click)="sortClickHandicap('currentHandicap')">
                        Current Handicap
                        <span *ngIf="sortBy == 'currentHandicap' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span *ngIf="sortBy == 'currentHandicap' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </a>
                </th>
                <th>
                    <a (click)="sortClickBirds('birds')">
                        Total Birds
                        <span *ngIf="sortBy == 'birds' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span *ngIf="sortBy == 'birds' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </a>
                </th>
                <th>
                    <a (click)="sortClickPars('pars')">
                        Total Pars
                        <span *ngIf="sortBy == 'pars' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span *ngIf="sortBy == 'pars' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </a>
                </th>
                <th>
                    <a (click)="sortClickBogeys('bogeys')">
                        Total Bogeys
                        <span *ngIf="sortBy == 'bogeys' && sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span *ngIf="sortBy == 'bogeys' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tr *ngFor="let player of leaderboard.secondHalfPlayerSummary">
            <td>{{player.name}}</td>
            <td>{{player.totalPoints}}</td>
            <td>{{player.scoreAvg}}</td>
            <td>{{player.currentHandicap}}</td>
            <td>{{player.birds}}</td>
            <td>{{player.pars}}</td>
            <td>{{player.bogeys}}</td>
        </tr>
    </table>
</div>

    <hr />
    <div class="row">
        <div class="col-md-12">
            <h3>Season First Half:</h3>
        </div>
    </div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Player</th>
                <th>
                    Total Points
                </th>
                <th>
                    Season Avg Score
                </th>
                <th>
                    Current Handicap
                </th>
                <th>
                    Total Birds
                </th>
                <th>
                    Total Pars
                </th>
                <th>
                    Total Bogeys
                </th>
            </tr>
        </thead>
        <tr *ngFor="let player of leaderboard.firstHalfPlayerSummary">
            <td>{{player.name}}</td>
            <td>{{player.totalPoints}}</td>
            <td>{{player.scoreAvg}}</td>
            <td>{{player.currentHandicap}}</td>
            <td>{{player.birds}}</td>
            <td>{{player.pars}}</td>
            <td>{{player.bogeys}}</td>
        </tr>
    </table>
</div>